<ul class="nav navbar-nav side-nav">
    <li class="dropdown">
        <a href="{:U('user/index')}"><i class="fa fa-users"></i> 用户管理</a>  
    </li>
	<li class="dropdown">
        <a href="{:U('time/index')}"><i class="fa fa-link"></i> 签到管理</a>
    </li>
	<li class="dropdown">
        <a href="{:U('display/index')}"><i class="fa fa-edit"></i> 作品展示</a>
    </li>
	<li class="dropdown">
        <a href="{:U('news/index')}"><i class="fa fa-link"></i> 新闻动态</a>
    </li>
	<li class="dropdown">
        <a href="{:U('contact/index')}"><i class="fa fa-file-text-o"></i> 联系我们 </a>
    </li>
</ul>