*{
 margin: 0;
  padding: 0; 
  text-decoration: none;
  list-style-type: none;
}
#detail {
	width: 740px;
	height: 380px;
	border: 3px solid #333;
	overflow: hidden;
	position: relative;
}
#list { 
	width: 5180px;
	height: 380px;
	position: absolute; 
	z-index: 1;
}
 #list img {
    float: left;
}
.arrow{
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: none; 
	text-align: center;
	font-size: 40px;
	font-weight: bold; 
	line-height: 32px;
	position: absolute;
	top: 168px;
	z-index: 2;
	background-color: RGBA(0,0,0,.3);
	color: #fff;
}
.arrow:hover { 
	background-color: RGBA(0,0,0,.7);
}
#detail:hover .arrow {
 	display: block;
}



#prev { left: 20px;}
#next { right: 20px;}