<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title> 关于我们 </title>
   <link rel="stylesheet" type="text/css" href="__STATIC__/css/about.css"/>
   <link rel="stylesheet" type="text/css" href="__STATIC__/css/basic.css"/>
 </head>
 <body>
    <div id="main">
	        <div id="top">
			       <img src="__PUBLIC__/Images/ab1.png"/>
			</div>
			<div id="banner">
			        <ul>
					     <li><a href="{:U('Index/index')}">首页</a></li>
						<li><a href="{:U('About/about')}">关于我们</a></li>
						<li><a href="{:U('Display/index')}">作品展示</a></li>
						<li><a href="{:U('News/index')}">新闻动态</a></li>
						<li><a href="{:U('Contact/index')}">联系我们</a></li>
					<ul>
			</div>
			<div id="introduction">
			        <img class="logo" src="__PUBLIC__/Images/ab2.png"/ >
			        <h1>新叶网络工作室</h1>
					<img class="round" src="__PUBLIC__/Images/ab3.png"/>
					<p>新叶网络工作室是一支融交互、技术、视觉设计、用户体验于一体的专业互联网服务与策划团队。最先由三位大三的学生于10年创立，分为三个学习小组：网页设计、前端开发、后台编程。</p>
					<p>网页设计着力于界面设计、交互设计、用户体验研究。前端开发精通WEB2.0规范及技术，擅长XHTML、DIV+CSS、JQUERY、EXTJS、对新兴技术如HTML5、CSS3.0有强烈的兴趣。后台编程主要在开源领域进行创新性学习研究，PHP开发、LINUX操作及服务器架设、软件工程。</p>
					<p>各小组持自主学习、讨论交流、项目实战的原则。在WEB开发领域独树一帜，引领风骚。几年来，团队为学校各单位及常德大中小企业提供网站建设的整体设计制作方案。在这里，我们将为你提供一个平台和良好的软硬件资源，你可以了解互联网流行时尚，获得实际项目开发的机会和交流经验的平台，并培养个人能力和团队精神......</p>
			</div>
			<div id="service">
		            <h1>服务简介</h1>
					<img class="round" src="__PUBLIC__/Images/ab3.png"/>
                    <p>我们想提供个平台设计解决方案，服务平台涵盖了互联网、掌上移动设备、桌面平台、电子消费类及印刷宣传品等。为客户提供从品牌设计、概念设计、交互设计、图形界面、视觉设计到最终的产品化设计的整套方案</p>	
                    <ul>
					      <li>1、网站维护</li>
						  <li>2、UI设计</li>
						  <li>3、网页后台系统开发</li>
						  <li>4、网站开发</li>
						  <li>5、安卓开发</li>
					</ul>				
			</div>
			<div id="target">
			        <h1>我们的目标</h1>
					<img class="round" src="__PUBLIC__/Images/ab3.png"/>
					<p>新叶网络目前是一个学生团体，最初成立的初衷是为了更好的学习，当前工作室已经初具规模，在接下来的发展中，立志于将新叶网络工作室进一步规模化、制度化、公司化。</br>打造最贴心的网站建设品牌服务公司，是新叶全体人员的一致目标。</p>
			</div>
	</div>
	<div id="footer">
	        <p class="copy">copyright reserved by xnnye</p>
			<p>mobil:*********</p>
			<p>address:凤天酒店旁</p>
	</div>
 </body>
</html>